body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: #C0262C;
    font-size: 2.1em;
}

h2 {
    font-size: 1.75em;
}

h2#estiloMusical {
    background-image: url("../pics/bg-dot.png");
    background-repeat: repeat;
    background-position: center center;
    color: #0a5c0a;
}

p {
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
}

p.modificada {
  font-family: "Bitcount Ink", system-ui;
  font-optical-sizing: auto;
  font-weight:<weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

hr {
    border-color: #98a869;
}

/*

seletor {
    propriedade: valor;
}

1em = 16px
1.75em vezes 16 é igual a fonte que seria utilizada em um documento

font-variant: small-caps;  --> caixa-alta
font-weight: bolder; --> coloca em negrito
font-style: italic; -->  coloca em italico

*/